@page
@model IndexModel
@{
    ViewData["Title"] = "Головна";
}

<div class="container text-center py-5">
	<h1 class="display-4">Лабораторна робота 7</h1>
	<p class="lead">Виконав студент групи ІПЗ-21008Б <br /> Немеш Олександр</p>
	<p class="lead">Варіант 5</p>
	<div class="row">
		<div class="col-md-6">
			<a class="btn btn-primary btn-lg my-1" href="/task1">Завдання 1</a>
		</div>
		<div class="col-md-6">
			<a class="btn btn-primary btn-lg my-1" href="/task2">Завдання 2</a>
		</div>
	</div>
</div>
