@page
@model Task1Model

<div class="container p-3 mx-auto">
    @{
        ViewData["Title"] = "Завдання 1";

        if (Request.Method == "POST") {
            string firstname = Request.Form["firstname"].ToString();
            string lastname = Request.Form["lastname"].ToString();
            string middlename = Request.Form["middlename"].ToString();
            string email = Request.Form["email"].ToString();

            if (string.IsNullOrEmpty(firstname) || string.IsNullOrEmpty(lastname) || string.IsNullOrEmpty(middlename) || string.IsNullOrEmpty(email)) {
                <div class="alert alert-danger mb-2" role="alert">Заповніть всі поля!</div>
            } else
            {
                <div class="card elevation-3 bg-elevation-3 mb-2 p-3">
                    @foreach (var letter in lastname) {
                        <span class="letter">@letter</span>
                    }
                    <br/>
                    @(string.Join("", firstname.Reverse()))
                </div>
            }
        }
    }

    <form class="form" method="post">
        <div class="form-group">
            <label for="input">Прізвище:</label>
            <input type="text" class="form-control" id="input" name="lastname" placeholder="Прізвище">
        </div>
        <div class="form-group">
            <label for="input">Ім'я:</label>
            <input type="text" class="form-control" id="input" name="firstname" placeholder="Ім'я">
        </div>
        <div class="form-group">
            <label for="input">По-батькові:</label>
            <input type="text" class="form-control" id="input" name="middlename" placeholder="По батькові">
        </div>
        <div class="form-group">
            <label for="input">E-mail:</label>
            <input type="email" class="form-control" id="input" name="email" placeholder="E-mail">
        </div>
        <button type="submit" class="btn btn-primary mt-1">Відправити</button>
    </form>
</div>
